header{
  border-bottom: 1px solid black;
}

.blocHead{
  box-shadow: 0px 8px 10px grey;
  padding: 10px;
  margin-left:-10px;

}

  #m{
    margin-left: 15%;
    width: 60px;
    height: 60px;
  }
  #signin{
    color: purple;
    float: right;
    font-size: 25px;
    margin-right: 20px;
    margin-top: 10px;

  }

  .bouton2 {
  border-radius: 10px;
  color: purple;
  font-size: 25px;
  border-radius: 1àpx;
  border: 2px solid purple;
  float: right;
  margin-right: 20%;
  margin-top: 10px;
  }

section{
  border-bottom: 2px solid grey;
  opacity: 0,05;
}

.one_zero{
    width: 200px;
    padding-left: 90px;
    }
  #navbar{
    list-style-type: none;
    margin-left: 140px;
    display: block;
    font-size: 20px;
    text-decoration: none;
  }

  #navbar a{
    color: grey;
    font-size: 1em;
    text-decoration: none;
  }
li{
    display: inline-block;
    padding: inherit;
}

  h1{

    margin-left: 530px;
    margin-right: 430px;
    font-size: 60px;
  }

  h2{
    margin-left: 530px;
    margin-right: 290px;
    font-size: 32px;
    color: grey;
    padding-top: 0;
  }

.harry1{
  margin-left: 530px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;

}
#circle {
  width: 90px;
  height: 90px;
  border-radius: 90%;
}

#bio{
  margin-top: 20px;
  margin-left: 20px;
}

#follow{
  margin-top: 20px;
  font-size: 20px;
  color:  purple;
  border: 2px solid purple;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 140px;
}

#paradise{
  margin-left: 10%;
  margin-right: 10%;
 }

 #paradise img{
   width:100%;
 }

.small{
     font-size: 20px;
     text-align: center;
   }

.legend{
  float: left;
  margin-left: 200px;
  margin-right: 85%;
  font-size: 10px;
  margin-top: 100px;
  position: absolute;
}

.logobook{
  color:#9400D3;
  height: 29px;
}
.align{
  position: absolute;
  width: 20px;
  margin-left: 250px;
  margin-top: 410px;
}

  #title{
    font-size: 25px;
    font-weight: bold;
  }

  #text{
    font-size: 20px;
    color: grey;
    padding-top: 20px;
  }

p{
  margin-left: 30%;
  margin-right: 20%;
  text-align: left;
  font-family: 'Georgia', serif;
  font-size: 130%;
  line-height: 40px;
  margin-bottom: 60px;
  margin-top: 50px;
  color: black;
}

  #y{
    font-family: 'Montserrat', sans-serif;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    font-size: 100px;
    color: white;
    text-decoration: none;
    padding: 30px;
    float: left;
    text-align: center;
    margin-right: 15px;
  }

span{
    text-decoration: underline;
  }

h3{
  margin-left: 30%;
  margin-right: 20%;
  text-align:  left;
  font-size: 150%;
  color: black;
}

.quote{
    font-size: 150%;
    margin-left: 30%;
    margin-right: 22%;
    color: black;
}
.bouton{
  margin-left: 30%;
}
.btbas{
  font-size: 15px;
  text-transform: capitalize;
  background-color: #F5F5DC	;
  padding: 2px;
  font-family: 'Montserrat', sans-serif;
  radius:3px;
  margin-right: 15px;
  padding: 5px 1px;
}

.div3{
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 80px;
  display: flex;
}

  #harry{
    font-size: 20px;
    width: 30%;
    display: block;
    margin-left: 20px;
  }

  #smallone{
    font-size: 20px;
    width: 30%;
    display: block;
    margin-left: 20px;
  }

  #one{
    width: 90px;
    height: 90px;
  }

  h4{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }


footer{
  width: 100%;
  background-color: lightblue;
  justify-content: center;
  display: flex;

}
.div4{
  display: flex;
  padding: 10px;
  width: 70%;

}

.foot2{
  background-color: white;
  font-size: 30px;
  width: 40%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 10px;
  }

h6{
  font-size: 15px;
  color: grey;
}

.textimage{
  font-size: 20px;
}

.foot2 img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
